<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_519h0332_TranHoaiPhat_FinalProject.Properties.Settings.FinalC_DBConnectionString"
            connectionString="Data Source=LAPTOP-BATC8T2F\SQLEXPRESS;Initial Catalog=FinalC_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>